.dandyMax {
  margin: 0;
  pad: 0;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}

.dandyUL {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.dandyLI {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dandyFileSpan {
  /* The filename will take the available space on the left */
  flex-grow: 1;
}

.dandySpanButton {
  /* The buttons will be stacked on the right */
  margin-left: 10px;
  cursor: crosshair;
}

main {
  width: 100%;
  height: 100%;
}
