.dandyMax {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}

.dandyInvisible {
  display: none;
}

.dandyUL {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.dandyLI {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dandyFileSpan {
  /* The filename will take the available space on the left */
  flex-grow: 1;
}

.dandySpanButton {
  /* The buttons will be stacked on the right */
  margin-left: 10px;
  cursor: crosshair;
}

.dandyEditorFullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1000;
}
.dandyEditorContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.dandyEditorPre {
  flex: 1;
  margin: 0;
  width: 100%;
  /* For Firefox */
  scrollbar-color: #666 #333; 
  scrollbar-width: thin;  
}

.dandyEditorPre::-webkit-scrollbar {
  width: 12px; 
  background-color: #333; /* track */
}

.dandyEditorPre::-webkit-scrollbar-thumb {
  background-color: #666; /* thumb */
  border-radius: 6px;
}

.dandyEditorButtonBar {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.dandyEditorButton {
  position: relative;
  background: #000;
  color: white;
  width: 100%;
  height: 20px;
  border: 1px solid #333333;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: crosshair;
  font-size: 12px; 
  /*font-weight: bold;*/
  /*text-transform: uppercase;*/
  outline: none;
}

.dandyEditorButton:hover {
  background-color: #2980b9;
}

main {
  width: 100%;
  height: 100%;
}

/* For WebKit-based browsers (Chrome, Safari, Opera) */
/* Custom scrollbar styling */
/* Note: These styles will be ignored by non-WebKit browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  background-color: #333; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #666; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

